*{
	font-family: Tahoma;
	color:#333333;
}
a
{
	text-decoration: none;	
	color:#333333;
}


.loginForm
{
	text-align: center;
}

.loginForm div
{
	margin:10px;
}

.loginForm h3
{
	color: rgb(255, 61, 61);
}

.loginForm button
{
	color: rgb(137, 137, 137);
background-color: white;
border: 2px solid #888;
border-radius: 4px;
font-weight: bold;
padding: 5px;
}

.loginForm input[type="text"]
{
	border-radius: 5px;
border: 1px solid #aaa;
color: #555;
padding: 5px;
}

.sideMenu
{
	list-style: none;

}

.sideMenu li{
	float:left;
	margin:10px;

}

.content
{

width: 97%;
margin: 10px;
border: 4px solid #ccc;
border-radius: 20px;
}

.menudiv
{
	height:50px;
}


.projectInfo
{
	list-style: none;
}
.projectInfo li 
{
	padding: 5px;
}

.projectInfo li label
{
	margin-right:10px;
}

.projectInfoError
{
	list-style: none;
}
.projectInfoError li 
{
	padding: 5px;
}

.trackerlisting
{
	list-style: none;
}

.trackerlisting li
{
	padding:20px;
	float:left;
	border:1px solid #ccc;
	border-radius: 15px;
	text-align: center;
	width: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
}

.trackerlisting li span
{
	font-size: 30px;
	font-weight: bold;
}

.trackerlistingDiv
{
	display: inline-block;
}

.loading
{
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #ccc;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;

}

.loading div
{
	color: rgb(255, 61, 61);
	font-size: 40px;
	margin: 0 auto;
	margin-top: 24%;
}


.teamListing
{
	width:100%;
	list-style: none;
}

.teamListing li
{
	margin:10px;
}

.teamTrackerListing
{
	margin-left:50px;
}