html
{
	overflow: auto;
}

.apppage
{
	width:100%;
}

.login_form
{
	width:50%;
	margin: 0 auto;
	margin-top: 20%;
}

.login_form input[type="text"]
{
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #555;
	font-size: 20px;
	font-family: 'Roboto-Regular';
	margin-top:20px;
	color: #444;
}

.login_input_error
{

	border-bottom:1px solid #ff4747 !important;
}

input:focus{
    outline: 0;
}

.login_form button
{
	border: 1px solid #ff4747;
	background-color: #ff5b5b;
	font-size: 15px;
	font-family: 'Roboto-Regular';
	margin-top:20px;
}

.login_form button:active
{
	border: 1px solid #999;
	background-color: #fff;
	font-size: 20px;
	
}


.application_name
{
	font-family: 'Roboto-Thin';
	font-size: 40px;
	color: #ff4747;
}

.login_icon_div
{
	margin-bottom: -48px;
}

.application_name_div
{
	margin-left:50px;
}

.home_app_icon_div
{
	width: 80%;
}
.small_icons
{
	width: 30px;
	height: 30px;
	margin-left: 15px;
}

.float_right_icons
{
	float: right;
	margin-top: -47px;
}

.menudiv
{
	font-family: 'Roboto-Regular'
	color:#444;
}

.menudiv ul
{
	list-style: none;
}

.menudiv ul li select
{
	width: 30%;
	font-size: 20px;
}