<div ng-init="init()" >
	<div class="loadingError" ng-show="showloadingerror"><div>Error!</div></div>
	<button ng-click="refreshprojectdetails()">Refresh</button><button ng-click="printreport()">Print Report</button>
	<div class="menudiv" ng-include src=" 'partials/menu.html' "></div>
	<div class="content" >
	<div ng-show="currentproject.showcurrentprojectinfo">
		<ul class="projectInfo" >
			<li><label>Project Name:</label>{{currentproject.name}}</li>
			<li><label>Project Description:</label>{{currentproject.description}}</li>
			<li><label>Project ID:</label>{{currentproject.id}}</li>
			<li><label>Project Identifier:</label>{{currentproject.identifier}}</li>
			<li><label>Project Created On:</label>{{currentproject.createdOn}}</li>
			<li><label>Total Issue Count:</label>{{currentproject.issuedata.total_count}}</li>
			<li ng-click="showUnassignedIssues()"><label>Unassigned Issue Count:</label>{{currentproject.issuedata.unassignedcount}}</li>
		</ul>
		
	</div>
	<div ng-show="!currentproject.showcurrentprojectinfo">
		<ul class="projectInfoError" >
			<li>{{currentproject.errormsg}}</li>
		</ul>
	</div>
	<div ng-show="currentproject.showcurrentprojectinfo" class="trackerlistingDiv">
		<h3>Overall Split</h3>
		<ul class="trackerlisting">
			 <li ng-repeat="x in currentproject.trackerdata">
		      <a ng-click="showTrackerIssues(x.id)">{{x.name}}  <span>{{x.count}}</span></a>
		    </li>
		</ul>
	</div>
	<div style="width:100%;height:1px;"></div>
	<div ng-show="currentproject.showcurrentprojectinfo" class="trackerlistingDiv">
		<h3>Team Split</h3>
		<div class="CSSTableGenerator margin-spacing" ng-repeat="x in currentproject.userdata" >
		<table  >
			
				<tr>
					<td>Team Member Name</td>
					<td ng-repeat="y in x.trackerdata" ng-click="showTeamMemberTrackerIssues(x.id,y.id)">
						{{y.name}}  <b>({{y.count}})</b>
				      
					</td>
				</tr>

				<tr >
					<td ng-click="showTeamMemberDetailIssues(x.id)">{{x.name}}</td>
					<td ng-repeat="y in x.trackerdata">
						<ul>
				      	 <li ng-repeat="z in y.statusdata">
				      	 	<b>{{z.name}}</b> : <b>{{z.count}}</b>
				      	 </li>
				      </ul>
					</td>

				</tr>
			
		</table>
		</div>
		
	</div>
	</div>
</div>
<div class="loading" ng-show="showloading"><div>Loading...</div></div>
