<div ng-init="init()" >
	<div class="home_app_icon_div"><img src="images/RF_org_50.png"></div>
	<div class="logout_icon" ng-click="logout()"><img class="small_icons" src="images/logout-512.png"></div>
	<div class="menudiv" ng-include src=" 'partials/menu.html' "></div>
	<div class="content" >
	<div class="projectInfo"  ng-show="currentproject.showcurrentprojectinfo">
		<table>
			
			<tr>
				<td><label>Project Name:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.name}}</td>
			</tr>
			<tr>
				<td><label>Project Description:&nbsp;&nbsp;</label></td>
				<td ng-show="currentproject.description">{{currentproject.description}}</td>
			</tr>
			<tr>
				<td><label>Project ID:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.id}}</td>
			</tr>
			<tr>
				<td><label>Project Identifier:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.identifier}}</td>
			</tr>
			<tr>
				<td><label>Project Created On:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.createdOn}}</td>
			</tr>
			<tr>
				<td><label>Total Issue Count:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.issuedata.total_count}}</td>
			</tr>
			<tr>
				<td ng-click="showUnassignedIssues()"><label>Unassigned Issue Count:&nbsp;&nbsp;</label></td>
				<td>{{currentproject.issuedata.unassignedcount}}</td>
			</tr>
		</table>	
	</div>
	
	<div ng-show="currentproject.showcurrentprojectinfo" class="trackerlistingDiv">
		<h3>Overall Split of Trackers</h3>
		<table class="overallsplit">
			<tr>
		      <td ng-repeat="x in currentproject.trackerdata" ng-click="showTrackerIssues(x.id)">{{x.name}}  <br/><span>{{x.count}}</span></td>
		    </tr>
		</table>
		<h3>Overall Split of Statuses</h3>
		<table class="overallsplit">
			<tr>
		      <td ng-repeat="x in currentproject.statusdata" ng-click="showStatusIssues(x.id)">{{x.name}}  <br/><span>{{x.count}}</span></td>
		    </tr>
		</table>

		<h3>Overall Split of Bugs by Status</h3>
		<table class="overallsplit">
			<tr>
		      <td ng-repeat="x in currentproject.bugstatusdata" ng-click="showBugsStatusIssues(x.id)">{{x.name}}  <br/><span>{{x.count}}</span></td>
		    </tr>
		</table>
		
		<h3>Overall Split of Bugs by Severity</h3>
		<table class="overallsplit">
			<tr>
		      <td ng-repeat="x in currentproject.bugsdata" ng-click="showBugIssues(x.name)">{{x.name}}  <br/><span>{{x.count}}</span></td>
		    </tr>
		</table>
		
	</div>
	<div style="width:100%;height:1px;"></div>
	<div ng-show="currentproject.showcurrentprojectinfo" class="trackerlistingDiv">
		<h3>Team Split</h3>
		<div class="teamsplitdiv" ng-repeat="x in currentproject.userdata" >
		<table  class="teammemberlisting">
			
				<tr>
					<th>Team Member Name</th>
					<th ng-repeat="y in x.trackerdata" ng-click="showTeamMemberTrackerIssues(x.id,y.id)">
						{{y.name}}  <b>({{y.count}})</b>
				      
					</th>
					<th>Severity</th>
				</tr>

				<tr >
					<td ng-click="showTeamMemberDetailIssues(x.id)">{{x.name}}</td>
					<td ng-repeat="y in x.trackerdata">
						<ul>
				      	 <li ng-repeat="z in y.statusdata">
				      	 	<b>{{z.name}}</b> : <b>{{z.count}}</b>
				      	 </li>
				      </ul>
					</td>
					<td>
						<ul>
				      	 <li ng-repeat="p in x.customdata">
				      	 	<a ng-click="showTeamSeverityIssues(x.id,p.name)"><b>{{p.name}}</b> : <b>{{p.count}}</b></a>
				      	 </li>
				      </ul>
					</td>

				</tr>
			
		</table>
		</div>
		
	</div>
	</div>
</div>
<div id="loading" ng-show="showloading"><div>Loading...</div></div>
<div id="loadingError" ng-show="showloadingerror"><div class="errorcloseButton" ng-click="closeError()">X</div><div class="errorMsg"> Loading Error!</div></div>