<div ng-init="init()">
	<div class="home_app_icon_div"><img src="images/RF_org_50.png"></div>

	<div><span class="float_right_icons_issues"><img class="small_icons" src="images/arrow-back-512.png" ng-click="gotoProjectDetails()"/><img class="small_icons" src="images/printer.png" ng-click="printreport()"/></span></div>
	<h3 class="issuelistingdivheading">Issue List - {{issuedata.length}} </h3>
	<table class="teammemberlisting">
		<tr>
			<th>Issue</th>
			<th>Title</th>
			<th>Status</th>
			<th>Date</th>
		</tr>
		<tr ng-repeat="x in issuedata">
			<td><a href="{{userdata.domain}}/issues/{{x.issueid}}/" target="_blank"><b>{{x.issueid}}</b></a></td>
			<td><a href="{{userdata.domain}}/issues/{{x.issueid}}/" target="_blank"><b>{{x.issuename}}</b></a></td>
			<td><a href="{{userdata.domain}}/issues/{{x.issueid}}/" target="_blank"><b>{{x.issuestatus.name}}</b></a></td>
			<td><a href="{{userdata.domain}}/issues/{{x.issueid}}/" target="_blank"><b>{{x.issuedate.date}}</b></a></td>
		</tr>
	</table>
</div>
