<table>
	<tr>
		<td>
		<label class="select_project">Select a Project</label>
	</td>
	<td>
		<select ng-model="selectedProject" ng-change="updateProjectInfo()">
			 <option ng-repeat="x in projects.projects" value="{{x.id}}">
		      {{ x.name }}
		    </option>
		</select>
		</td>
		<td><span ng-show="currentproject.showcurrentprojectinfo" class="float_right_icons"><img class="small_icons" alt="Refresh Report" src="images/icon-refresh-128.png" ng-click="refreshprojectdetails()"/><img class="small_icons" src="images/printer.png" alt="Print Report" ng-click="printreport()"/><img class="small_icons" src="images/document-download-2-512.png" alt="Download Report" ng-click="downloadReport()"/></span></td>
	</tr>
	
	
</ul>