<div class="login_form" ng-init="init()">
	<div class="login_icon_div"><img src="images/RF_org_50.png"></div>
	<div class="application_name_div"><label class="application_name">RED FACE</label></div>
	<div>
		<input id="login_username" type="text" ng-model="user.userName" placeholder="username" size="30"/>
	</div>
	<div>
		<input id="login_apikey" type="text" ng-model="user.apiKey"  placeholder="API key" size="30"/>
	</div>
	<div>
		<button ng-click="performLogin()">Proceed</button>
	</div>

</div>