<div class="container loginForm" 	ng-init="user.domain='https://projects.groupfmg.com';user.userName='kaushik';user.apiKey='997c164b300bac708e1fed7f3f4367a2477ff0d9';">
	<h3>RED FACE</h3>
	<div>
		<input type="text" ng-model="user.domain" placeholder="URL" size="30" />
	</div>
	<div>
		<input type="text" ng-model="user.userName" placeholder="username" size="30"/>
	</div>
	<div>
		<input type="text" ng-model="user.apiKey"  placeholder="API key" size="30"/>
	</div>
	<div>
		<button ng-click="performLogin()">Proceed</button>
	</div>
</div>